<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>home</title>
	
</head>
<body>

	<h1>Vice Versa</h1>
	<form action="{% url 'reverse' %}">  
		<!--  <form action="reverse"> - путь по которому будем перенаправлены по кнопке сыбмит. Но так лучше не делать. изменили как лучне -->
		<!-- <form action="{% url 'reverse' %}"> -  path('reverse/', views.reverse, name='reverse')  - ссылаемся именно на name -->

		<textarea cols="50" rows="10" name="usertext"></textarea>
		<br>
		<input type="submit" value="Реверс текста">
		<!-- сабмит это кнопка -->
	</form>

	<br><br><br>
	<p><a href="http://127.0.0.1:8000/les/">Ссылкка на информацию из серии уроков</a></p>


</body>
</html>

