<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>lessons</title>
	<style type="text/css">
		.lessons{
			background: rgb(178, 255, 210, 1) ;
		}
		body {
			background: rgb(196, 0, 0);
		}
	</style>
</head>
<body>

	<div class="lessons">
		<h1>Уроки раздел Vice Versa
			<br>http://127.0.0.1:8000/les/
		</h1>

		<h5><a href="http://127.0.0.1:8000">Вернутся на домашнюю страницу</a></h5>

		<h4>Установка Django:</h4>
		<ol>
			<li>cmd - заходим в командную строку</li>
			<li>pip3 install django  -  устанавдиваем в винду</li>
			<li>python.exe -m pip install --upgrade pip  -  обновляем</li>
			<li>переход в папку проекта (в командной строке) – т.е куда проект установить (админку, manage.py и тд)</li>
			<li>django-admin startproject myfirstproject - создание нового проекта с названием</li>
		</ol>

		<h4>Команды командной строки:</h4>
		<ul>
			<li>dir – посмотреть что в папке</li>
			<li>cd – следовать в какую-то папку (cd название папки)</li>
			<li>cls – очистить консоль</li>
			<li>ctrl + c – остановить runserver</li>
			<li>.. - вернутся в дирректорию ниже</li>
		</ul>

		<h4>Старт проекта Django:</h4>
		<ol>
			<li>cmd - заходим в командную строку</li>
			<li>заходим в корневую папку проекта (в cmd)</li>
			<li>python manage.py runserver - старт локального сервера
				<br>http://127.0.0.1:8000/  - это мой свервер.
			</li>
			<li>python manage.py help - команды manage.py помощь</li>
			<li>Ctrl + C  - остановить локальный сервер</li>
		</ol>

		<h4>GIT</h4>
		<p>Git - тип системы контроля версии
			<br>например если редактируем файл, Git помогает отслеживать: что было изменено, кто изменил и зачем..
		</p>

		<ol>
			<li>C:\Program Files\Git\git-cmd.exe - cmd git</li>
			<li>В командной строке переходим в корневую папку проекта</li>
			<li>git –v  - посмотреть версию git</li>
			<li>git init – устанавливвем гит в папку проекта</li>
			<li>git status – смотрим что отслеживает или неотслеживает</li>
			<li>git add . – добавить чтобы отслеживал всё в папке</li>
			<li>git config --global user.email elproject220@yandex.ru</li>
			<li>git config --global user.name "Mello"</li>
			<li>git commit -m "Имя коммита1"   - создали коммит1</li>
			<li>git status  - после создания первого коммита изменений не было</li>
			<li>изменяем что то в проекте</li>
			<li>git status - указывает что изменилось</li>
			<li>git add . – опять добавили в гит (все)</li>
			<li>git commit -m "Имя коммита2"   - создали коммит2</li>
			<li>Залогинились в гитхаб.ком, создали в репозитории новый проект</li>
			<li>git remote add origin https://github.com/Mello134/viceversa.git - отправили в  репозиторий гитхаб весь проект</li>
			<li>git push -u origin main<br>Этот и предыдущий пункт уточняй в самом репозитории в проекте, там есть коды их можно просто скопировать!</li>
			<li>Чтобы скачать с репозитория. Заходим в cmd в нужную папку, далее <br>git clone https://github.com/Mello134/viceversa.git - скачали commit с своего репозитория (ссылка там)</li>
		</ol>

		<h4>Доп комманды git:</h4>
		<ul>
			<li>git log –-oneline - список всех коммитов в папке</li>
			<li></li>
			<li></li>
		</ul>

		<h4>Полезная информация из курса:</h4>
		<ul>
			<li>Python: user_text = request.GET['usertext'] #то что получаем от юзера</li>
			<li>Python: reversersed_text = user_text[::-1] #получаем реверсивный текст</li>
			<li>Python: return render(request, 'reverse.html', {'usertext':user_text, 'reversedtext':reversersed_text})
				<br>#возвращаем шаблон(запрос, "страница хтмл", {ключ введённый текст что получили от юзера: значение переменной, ключ реверсивный текст: })</li>
			<li>HTML: стотри html файлы reverse, home - много полезной информации.</li>
			<li>В конце работы. Стоп сервер/гит адд ./гит коммит номер</li>
			<li></li>
		</ul>
		

		<p><a href="https://devpractice.ru/git-for-beginners-part-9-how-undo-commit-in-git/#p2">Инструкция по commit git на русском</a></p>
		<p><a href="https://github.com/Mello134/">Мой git hub</a></p>

	</div>

</body>
</html>

